body{
    background-color:red;
}
form{
    border: 2px solid #000;
   /* display:inline-block;*/ /*to assign a fixed length to the form instead of width of entire screen*/

    /*to display the form at the center of the page*/
    display: block;     /*takes the width of the entire screen*/
    width: 250px;       /*specify the width of the form manually */
    margin-left: auto;  /*margin left and margin right set to auto will place the element at center of the page*/
    margin-right: auto;
    /*end of the code to display the form at the center of the page*/
}
label{
    display: block;
    padding: 10px 0px
}

button[type="submit"]{
    background-color: #41b70c;
}
button[type="submit"]:hover{
    border: 1px solid #ff0000;
    background-color: #89f55e;
}
button[type="reset"]{
    background-color: #f71814;
}
div{
    display: inline-block;
    margin: 10px 20px;

}
.Name{
  /*  background-color: #00ff00;*/

}
/*To display unordered list without bullet points*/
ul{
    list-style-type: none;
}
/*To display list items of unordered list horizontally*/
li{
    display: inline-block;
    margin: 0 10px;
    cursor:pointer;
}
button{
    border: 1px solid #5e5e5e;
    border-radius: 15px;
    color:#fff;
    padding: 5px 10px;
    margin:10px;
}
input[type="text"]{
    border-radius:15px;
    padding:5px;
    height: 15px;
}
input:focus{
    background-color: #eee;
    border: 2px solid #000;
    color: #eee;
}
